body{
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7;
    font-family: "Noto Sans Armenian","Open Sans","lucida grande",tahoma,arial,sans-serif;
}
header{
    height:60px;
    display: flex;
    justify-content: space-between;
}

header>div{
    height: 100%;
}

.logo{
    width: 13.1%;
    background-image: url(../img/p.webp);
    background-size: 100%;
    background-position: 0px -6px;
    background-repeat: no-repeat;
    height: 31px;
    margin: auto;
}

.search{
    width: 56%;
    display:flex;
}

.profile{
    width: 30.9%;
}
.search input{
    height: 35px;
    margin: auto;
    margin-left: 20px;
    border-radius: 18px;
    color: #B6B6B6;
    background-color: #F0F0F0;
    max-width: 470px;
    width: 100%;
    outline: none;
    border: none;
    padding-left: 38px;
    font-size: 15px;
}
.search::before{
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/p.webp);
    background-position: 2% 89%;
    background-size: 100px;
    transform: translate(49px, 23px);
}
.profile{
    display: flex;
    justify-content: space-between;
    color:#222;
}
.profile a{
    color:#222;
    font-size: 15px;
    display: block;
    margin: auto;
}

a.btn{
    color: #fff;
    background-color: #0c72ea;
    border-radius: 18px;
    padding: 8px 20px;

}
main{
    display: flex;
    justify-content: space-between;
}

main>div:first-child{
    width: 64.3%;
}

main>div:last-child{
    width: 33.9%;
}

.pictures{
    height: 480px;
    
    background-image: url(../img/range.webp);
    background-size: cover;
    border-radius: 0px 10px 0px 0px;
    margin: 5px;
}
.coment{
margin-left: 20px;
}

main h2{
    font-family: Arial;
}

main span.shtap {
    background: red;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

.adres{

}

.name{
    background-color: #fff;
    text-align: center;
    padding: 21px;

}
.name img{
    border-radius:50%;
}

.username{
    font-size: 18px;
    font-weight: 200;
    color:#333;
    margin:6px 0 4px 0;
    cursor: pointer;
}

.username:hover, main h3:hover{
   color: #0c72ea;
   transition: color 0.5s;
}

main h4{
    font-size: 11px;
    color:#888;
}

main h3{
    margin-top: 10px;
    font-size: 12px;
    color:#888888;

}

main h3:before{
    content:"★★★★★";
    display: block;
    letter-spacing: 3px;
    margin-bottom: 6px;
    font-size: 16px;
    background: linear-gradient( 90deg,#fece1f 100%,#ccc 32px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.buttons{
    display: flex;
    margin: auto;
    max-width: 70%;
    flex-direction: column;

}

.buttons .btn{
    cursor: pointer;
}

.buttons .btn:first-child{
    margin-bottom: 10px;
}
.buttons .btn:last-child{
    background-color: #4ad561;
}